@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.text-height {
  line-height: 20%;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #79523a;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}
